<div class="row">
    <div class="box col-sm-12 text-center">
        <div class="box">
            <h2><strong>RSVP</strong></h2>

            <div class="row pad-btm-30">
                <div class="col-sm-2 hidden-xs">
                    <h4>Name</h4>
                </div>
                <div class="col-sm-5 hidden-xs">
                    <h4>Friday Night Dinner</h4>
                    Friday August 8, 2014
                </div>
                <div class="col-sm-5 hidden-xs">
                    <h4>Wedding &amp; Reception</h4>
                    Saturday, August 9, 2014
                </div>
            </div>
            <form role="form" action="/rsvp" method="post">
                <input type="hidden" name="rsvping_guest" value="<%= @guest.id %>">
                <% @rsvp_info.each do |guest| %>
                    <div class="row pad-btm-30">
                        <div class="col-sm-2 col-xs-12">
                            <p><%= guest.first_name %> <%= guest.last_name %></p>
                        </div>
                        <div class="col-xs-6 visible-xs">
                            <h5>Friday Night Dinner</h5>
                            Friday August 8, 2014
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div id="friday_<%= guest.id %>" class="btn-group" data-toggle="buttons">
                              <label value="yes" class="btn btn-default btn-yes">
                                <input type="radio">Attending</label>
                              <label value="maybe" class="btn btn-default btn-maybe">
                                <input type="radio">Not Sure Yet</label>
                              <label value="no" class="btn btn-default btn-no">
                                <input type="radio">Not Attending</label>
                            </div>
                            <input type="hidden" name= "friday_<%= guest.id %>" id="friday_rsvp_<%= guest.id %>" value="<%= guest.friday_rsvp %>"/>
                        </div>
                        <div class="col-xs-12 visible-xs">
                          &nbsp;
                        </div>
                        <div class="col-xs-6 visible-xs">
                            <h5>Wedding &amp; Reception</h5>
                            Saturday, August 9, 2014
                        </div>
                        <div class="col-sm-5 col-xs-6">
                            <div id="saturday_<%= guest.id %>" class="btn-group" data-toggle="buttons">
                              <label value="yes" class="btn btn-default btn-yes">
                                <input type="radio">Attending</label>
                              <label value="maybe" class="btn btn-default btn-maybe">
                                <input type="radio">Not Sure Yet</label>
                              <label value="no" class="btn btn-default btn-no">
                                <input type="radio">Not Attending</label>
                            </div>
                            <input type="hidden" name= "saturday_<%= guest.id %>" id="saturday_rsvp_<%= guest.id %>" value="<%= guest.saturday_rsvp %>"/>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //on page load:
                        $('#friday_<%= guest.id %> label[value="<%= guest.friday_rsvp %>"]').addClass('active');
                        $('#saturday_<%= guest.id %> label[value="<%= guest.saturday_rsvp %>"]').addClass('active')

                        //when rsvp button is clicked:
                        $("#friday_<%= guest.id %> .btn").click(function () {
                            $("#friday_rsvp_<%= guest.id %>").val($(this).attr('value'));
                        });
                        $("#saturday_<%= guest.id %> .btn").click(function () {
                            $("#saturday_rsvp_<%= guest.id %>").val($(this).attr('value'));
                        });
                    </script>
                <% end %>
                <hr>
                <div class="row pad-top-20">
                    <div class="col-sm-5 form-group text-right">
                        <label for="dietary_notes">Dietary Notes (i.e. allergies, vegetarian, gluten-free, etc.)</label>
                    </div>
                    <div class="col-sm-5 form-group ">
                        <textarea class="form-control" rows="3" name="dietary_notes" id="dietary_notes"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group text-right">
                        <label for="other_notes">Anything else you'd like to tell or ask us?</label>
                    </div>
                    <div class="col-sm-5 form-group ">
                        <textarea class="form-control" rows="3" name="other_notes" id="other_notes"></textarea>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#dietary_notes').val('<%= @guest.dietary_notes %>');
                    $('#other_notes').val('<%= @guest.other_notes %>');
                </script>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
